.DS_Store
__pycache__/
backend/django/itinero/itinero/__pycache__/
backend/venv
venv
backend/venv/
.vs
.vscode
.python-version
backend/django/itinero/trips/scripts/API_KEYS.py
backend/users/templates/users
