#cityList {
    display: none;
}
#cityList:empty {
    border: none;
    outline: none;
}

.date-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
}

.search-container {
    position: relative;
}

.error-message {
    position: absolute;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
    top: 230%; /* Position the error message below the input field */
    left: 50%; /* Position the error message in the middle */
    transform: translateX(-50%); /* Shift the error message to the left by half of its width */
    white-space: nowrap; /* Prevent the error message from wrapping to the next line */
    opacity: 1;
    transition: opacity 2s ease-in-out; /* Add this line */
}