<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Itinerary</title>
    <style>
        body{
            background-color:cadetblue;
            background-size:cover
        }

        .header-title {
                font-family: 'Kanit', sans-serif;
                font-size: 75px;
            }
    </style>
</head>
<body>
    <h1 class="header-title" style= "color: #ffffff; text-align: center; padding: 10px;">Let's build your itinerary</h1>
    <h1 style="text-align: center; color: #ffffff;">Enter a City</h1>
    <form style="text-align: center;" action="/search" method="GET">
        <input type="text" name="city" placeholder="ex. Miami, Florida">
        <button type="submit">Search</button>
    </form>
    
</body>
</html>
