<html>
<head>
  <title>Login</title>
  <style>
    body {
      text-align: center;
      background-image: url('background.jpg');
      background-size:cover
    }

    form {
      width: 50%;
      margin: 0 auto;
    }

    input[type="text"], input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <h1>Login</h1>

  <form action="#">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>