<html>
<head>
  <title>Create an Account</title>
  <style>
    body {
      text-align: center;
      background-color:cadetblue;
      background-size:cover
    }

    form {
      display: inline-block;
      margin: 0 auto;
    }

    input {
      margin: 10px;
    }

    .header-title {
                font-family: 'Kanit', sans-serif;
                font-size: 75px;
            }
  </style>
</head>
<body>
  <h1 class="header-title" style= "color: #ffffff; text-align: center; padding: 10px;">Create your account</h1>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required>


      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required>
    </div>


    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>


    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

<br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>